.container {
    width: 90%;
    max-width: 350px;
    margin: 20px;
    margin-top: 60px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    box-shadow: 0 0 15px black;
    border-radius: 8px;
    position: relative;
}

h1 {
    text-align: center;
    color:maroon;
}

.recipe-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
}

h2 {
    color:maroon;
}

ul, ol {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Style for the right-side buttons */
.right-side-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center; /* Align buttons vertically center */
}

.right-side-buttons button, .right-side-buttons img {
    width: 60%;
    height: 40px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.right-side-buttons img {
    width: 60px;
    height: 40px;
}

.right-side-buttons button {
    background-color: #0b7ffb;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.right-side-buttons button:hover {
    background-color: #32c045;
}

#likeButton {
    filter: invert(25%) sepia(100%) saturate(2330%) hue-rotate(192deg) brightness(91%) contrast(101%);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 80%;
        margin: 10px auto;
        padding: 20px;
    }
    body {
        background-position: top;
        background-size: cover;
    }
    .right-side-buttons {
        position: static;
        justify-content: center;
        margin-top: 20px;
    }

    .right-side-buttons button, .right-side-buttons img {
        width: 80px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
        margin: 10px auto;
        padding: 15px;
    }
    body {
        background-position: top;
        background-size: contain;
    }

    .right-side-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .right-side-buttons button, .right-side-buttons img {
        width: 70px;
        height: 35px;
    }

    .right-side-buttons button {
        padding: 8px;
    }
}
